body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:25px;
}

/* Navigation Settings */

#logo {
    font-family: 'Bungee', cursive;
    color:#851d50;
    font-size:60px;
}

#topNav, #footerNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#topNav li, #footerNav li {
    float: right;
}

#topNav li a, #footerNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topNav li a:hover, #footerNav li a:hover {
    background-color: #851d50;
}

#footerNav {
    position: fixed;
    bottom:0;
    width:96%;
}

header {
    background-color: #ededed;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

/* End of Navigation Settings */

/* Content Settings */

.mainContent {
    width:70%;
    float:left;
    margin-bottom:5em;
}

.sidebarContent {
    width: 25%;
    float:right;
    background-color:lightgray;
    margin-top:50px;
    border-radius:5px;
    padding:20px;
    text-align:center;
    position: fixed;
    left:72vw;
}

.sidebarContent ul {
    list-style-type:none;
    padding-inline-start: 0;
}

.sidebarContent li a {
    text-decoration:none;
    color:#000;
}

.sidebarContent li a:hover {
    color:#851d50;
}

article h2 {
    font-family: 'Bungee', cursive;
    letter-spacing: 2px;
    font-size:32px;
}

h2 {
    border-bottom: 2px solid #333;
    margin:50px 0 25px;
}

.purp {
    color:magenta;
}

.grn {
    color:lime;
}

.blu {
    color:turquoise;
}

.orng {
    color:orange;
}
/* End of Content Settings */

/* Code Settings */

.codeBox {
    background-color:#333;
    color:#fff;
    width:100%;
    border-radius:5px;
    font-size:18px;
}

/* End of Code Settings */